:root {
  --primary: #1da1f2;
  --black: #243447;
  --dark-gray: #425260;
  --light-gray: #aab8c2;
  --extra-light: #e1e8ed;
  --extra-extra-light: #75bceb;
  --white: #f5f8fa;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #14171a;
}
